#plans {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding-top: 10.5rem;
    padding-bottom: 3.9rem;

    article {
        display: flex;
        flex-direction: column;
        gap: 1.39rem;
        align-items: start;
        padding: 4.2rem 3.3rem;
        border-radius: 13px;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
        transition: all 0.2s linear;
        background: #d9d9d9;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.15);
        }

        &.bigger {
            padding: 5.7rem 3.3rem;
            gap: 2.71rem;
        }

        h3 {
            font-family: var(--font-montserrat);
            font-weight: 600;
            font-size: 2.15rem;
            color: var(--color-black);
        }

        p {
            font-family: var(--font-inter);
            font-weight: 400;
            font-size: 1.11rem;
            color: var(--color-black);
            text-align: center;
            line-height: 1.5;
        }

        /* span {
            font-family: var(--font-montserrat);
            font-weight: 700;
            font-size: 2rem;
            color: var(--color-black);
        } */

        span {
            display: flex;
            align-items: baseline;
            justify-content: center;
            gap: 0.7rem;
            margin: 1.2rem 0 0.5rem 0;
            font-family: var(--font-montserrat);

            b {
                font-weight: 700;
                font-size: 2rem;
                color: var(--color-black);
            }

            span {
                font-size: 1.1rem;
                font-weight: 400;
                color: #666;
                margin-left: 0.2rem;

                &:nth-child(1) {
                    font-weight: 700;
                    font-size: 2rem;
                    color: red;
                }
            }
        }

        button {
            font-family: var(--font-montserrat);
            font-weight: 600;
            font-size: 1.11rem;
            color: var(--color-white);
            background: var(--color-primary);
            padding: 1.2rem 4.6rem;
            border-radius: 10px;
            margin-top: auto;
            transition: all 0.2s linear;
            cursor: pointer;
            align-self: stretch;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}