#profile {
    position: relative;
    width: 100%;

    &> div {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
    }

    .accent-button {
        color: var(--color-white);
        background: var(--color-primary);
        padding: 0.8rem 2rem;
        border-radius: 10px;
        margin-top: 0.2rem;
        width: 100%;
        cursor: pointer;
        border: none;
        /* usually good practice for buttons */
        transition: filter 0.2s, opacity 0.2s;
        position: relative;
        z-index: 999;
    }

    .accent-button:hover:not(:disabled) {
        color: var(--color-white);
        filter: brightness(95%);
    }

    .accent-button:disabled {
        background: #999;
        /* fallback disabled color */
        color: #eee;
        cursor: not-allowed;
        filter: none;
        opacity: 0.7;
        /* dimmed effect */
    }
}