*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

hr {
    border: none;
}