#tips {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7.5rem;
    width: 100%;
    font-family: var(--font-montserrat);
    padding: 6.9rem 0;

    h1 {
        font-weight: 400;
        text-align: center;
        color: #404040;
        font-size: 2.2rem;

        span {
            font-size: 2.6rem;
            font-weight: 700;
            color: #343434;
            text-transform: uppercase;
        }
    }

    &>article {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        gap: 7.5rem;

        section {
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: 30% 60%;

            &.reversed {
                grid-template-columns: 60% 30%;

                img {
                    grid-column: 2 / span 1;
                    grid-row: 1 / 1;
                }

                article {
                    grid-column: 1 / span 1;
                }
            }

            img {
                width: 100%;
            }

            article {
                display: flex;
                flex-direction: column;
                gap: 3rem;

                div {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1.7rem;

                    h3 {
                        font-size: 5rem;
                        font-weight: 100;
                    }

                    p {
                        font-size: 1.67rem;
                    }
                }

                hr {
                    height: 1px;
                    background: #D7D7D7;
                }
            }
        }
    }
}