:root {
    --font-inter: "Inter";
    --font-sitka: "Sitka";
    --font-montserrat: "Montserrat";

    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #0095FF;
    --color-green: #3A7C2B;
    --color-primary: #F58E44;
}

html {
    font-size: 1vw;
    scroll-behavior: smooth;
}